@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500&subset=latin,cyrillic);
body {
    background-color: #ECF0F1;
    color: #2C3E50;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3,
h1 small, h2 small, h3 small {
    font-weight: 300;
}
.navbar {
    background-color: #2980B9;
}
.nav > li > a:hover {
    background-color: #3498DB;
}
.navbar a {
    color: #fff;
}
.icon-bar {
    background-color: #fff;
}