@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,500&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic);
body, p,
h1, h2, h3,
h1 small, h2 small, h3 small{
    color: #343434;
    font-family: 'Open Sans', sans-serif;
}
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
h1, h2, h3,
h1 small, h2 small, h3 small {
    font-weight: 300;
}

h2 {
    font-size: 30px;
    line-height: 48px;
}
p {
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 990px) {
    header {background-image: url("../img/header1280x720.jpg");}
}
@media (min-width: 991px) and (max-width: 1280px) {
    header {background-image: url("../img/header1280x720.jpg");}
}
@media (min-width: 1281px) and (max-width: 1600px) {
    header {background-image: url("../img/header1600x900.jpg");}
}
@media (min-width: 1601px){
    header {background-image: url("../img/header1920x1080.jpg");}
}

html,body { height: 100%; margin: 0px; padding: 0px; }
/* Header */
header {
    background-size: cover;
    background-position: right top;
    height: 100%;
    }
.marck {
    color: #343434;
    font-family: 'Marck Script', sans-serif;
}
.vensel {
    font-size: 96px;
    line-height: 96px;
}
.motto {
    font-size: 32px;
    line-height: 48px;
}
.promo {
    margin-left: 50%;
    display: block;
    position: relative;
    top: 30%;
}
.btn-huge{
    width: 232px;
    padding: 12px;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 0; right: 0;
    bottom: 48px;
}
.btn-red,.btn-red:hover {
    background-color: #F44336;
    color: #fff;
}

/*Navbar*/
.navbar {
    background-color: #000;
    border-radius: 0;
    border-width: 0;
    min-height: 48px;
    margin-bottom: 0;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
    }
.navbar-nav > li > a
{   color: #fff;
    font-size: 16px;
    padding: 16px 32px; 
}
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li.active > a {
    background-color: #F44336;
}

.navbar-header a.navbar-brand {
    color: #fff;
}

#offers{
    

}
#offers .row div{
    margin-top: 96px;
    text-align: center;
}
#offers .row div h2 {
    margin-top: 48px;
    }
#bio {
    margin-top: 24px;
    margin-bottom: 96px;
}
#bio .row div {
    margin-top: 48px;
}
footer {
    background-color: #000;
    height: 48px;
}
footer p {
    color: #fff;
    margin-top: 16px;
    font-size: 16px;
    line-height: 16px;
}
#offers i.fa {
    color: #F44336;
}

/* Form */
#form {
    margin-top: 24px;
    margin-bottom: 96px;
}
#form p.help-block {
    font-size: 16px;
    line-height: 16px;
    margin-top: 8px;
    margin-bottom: 4px;
    }
#form .form-control {
    height: 47px;
    border: 1px solid #000000;
    }
#form textarea {
    height: 146px;
    border: 1px solid #000000;
    }
#form .btn {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
}
